#energies,
#transports,
#lifestyle {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.11);
  padding: 0 1vw 0 1vw;
  width: 30%;
  border: 1px solid white;
  border-radius: 20px;
}